*{
    margin:0px;
    padding:0px;
}
.navbar-brand img{
	height: 80px !important;
	width: 100px !important;
}

@media only screen and (min-width:768px)
{
	.endLink{
		margin-left: 100px !important;
	}
	.navbar-brand img{
		margin-left: 50px !important;
	}
}
.ksks{
	border: 0px;
}
.ksks:hover{
	color: white !important;
  }
.dropdown-toggle::after{
	display: none !important;
}
.nav-link{
	font-size: 20px !important;
}
a, a:hover {
    color: white;
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.vpBtn:hover{
	background-color: silver !important;
}
.rqBtn:hover{
    background-color: #64ffa2 !important;
}

#more {display: none;}

/* Table */
table { 
	width: 100%; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #f5f5f5; 
	}

th { 
	background: #1E2E81; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.  .fa-search:before 
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
		font-size: 33px !important;
	}
	
	/* .dropdown{
	width: 113% !important;
    height: 50px;
    background-color: white;
    font-size: 20px;
    text-align: left;
    margin-left: -15px;
	} */
.vpBtn{
	margin-bottom: 10px !important;
}
	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #1E2E81; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		font-weight: bold;
	}

}

#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  

/* #Primary style
================================================== */

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}
p{
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}

.nav-item .dropdown-menu {
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 10px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
 
.dropdown-item:focus {
	color: #fff;
	background-color:#36f182;;
}
/* #Media
================================================== */
@media only screen and (max-width:768px)
{ 
.lastPortion img ,.fa-search:before{
	display: none !important;
}
.lastPortion{
}
.lastPortion a, .lastPortion p{
	margin-left: 0px !important;
}
	
 }
@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	
}

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}

  
  /* Wrapper Is not Needed| Just for demo purpose.  */
  
  
  .btn10{
    padding: 5px;
    margin:10px 4px;
    color: #fff;
    font-family:'Segoe UI", sans-serif' !important;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    
  }
  
  .btn10::before {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #6098FF;
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
  }
  
  .btn10:hover::before {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
  }
  
  /* Btn 10  */
  .btn10{
      top: 10px;
      font-family:'Segoe UI", sans-serif' !important;
      font-weight: 500;
      font-size: 10px;
      text-transform: uppercase!important;
      letter-spacing: 2px;
      color: #fff;
      cursor: hand;
      text-align: center;
      text-transform: capitalize;
      border: 0px solid #fff;
      position: relative;
      overflow: hidden!important;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background: transparent!important;
      z-index:10;
      box-shadow: 0px 1px 2px 2px #000;
      
  }
  
  
  .btn10:hover{
        color: white!important;
        text-decoration:none;
        border:0px;
      }
  .btn10::before {
      content: '';
      width: 0%;
      height: 100%;
      display: block;
      background: #000;
      position: absolute;
        -ms-transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg); 
      transform: skewX(-20deg);   
      left: -10%;
      opacity: 1;
      top: 0;
      z-index: -12;
      -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
         box-shadow:2px 0px 14px rgba(0,0,0,.6);
    } 
  
  .btn10::after {
      content: '';
      width: 0%;
      height: 100%;
      display: block;
      background: #000d85;
      position: absolute;
      -ms-transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg); 
      transform: skewX(-20deg);   
      left: -10%;
      opacity: 0;
      top: 0;
      z-index: -15;
      -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
      -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
      -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
      transition: all .4s cubic-bezier(.2,.95,.57,.99);
      box-shadow: 2px 0px 14px rgba(0,0,0,.6);
  }
  .btn10:hover::before, .btn1O:hover::before{
      opacity:1;
      width: 116%;
  }
  .btn10:hover::after, .btn1O:hover::after{
      opacity:1;
      width: 120%;
  }
  .footerUl:hover{
      color: white !important;
  }
  .inpReg:focus{
	  background-color: #36f182 !important;
  }
  .inpReg:focus{
	background-color: #e2e2e2 !important;
}


/* Responsive */
@media screen and (max-width: 1400px) {
	.rqbtn{
		font-size: 14px !important;
	}
}
@media screen and (max-width: 1219px) {
	.rqbtn{
		font-size: 13px !important;
	}
}
@media screen and (max-width: 1143px) {
	.rqbtn{
		font-size: 12px !important;
	}
	.vpBtn{
		font-size: 12px !important;
	}
}
@media screen and (max-width: 570px) {
	.cImg{
		width: 36px !important;
		margin-left: 64%;
		display: none;
	}
	.fwCon{
		width: 100% !important;
	}
	.dropdown-item {
		font-size: 10px !important;
		background-color: white;
		padding: 5px;
		}
		.form-box{
			margin-top: -30% !important;
		}
}

h1, h2,h3,h4,h5,h6{
	font-family:'Segoe UI", sans-serif' !important;
}
/* Nav Under line on hover Remove */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.banner{
	position: relative;
	width: 100%;
}
.trailer, .trailer2{
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	background:rgb(0,0,0,0.95);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;

}
.trailer.active{

	visibility: visible;
	opacity: 1;
}
.trailer2.active{

	visibility: visible;
	opacity: 1;
}
.trailer video{
	position: relative;
	max-width: 900px;
	outline: none;
}
.trailer2 video{
	position: relative;
	max-width: 900px;
	outline: none;
}
.close{
	position: absolute;
	top:30px;
	right: 30px;
	cursor: pointer;
	filter: invert(1);
	max-width: 32px;
}
.close2{
	position: absolute;
	top:30px;
	right: 30px;
	cursor: pointer;
	filter: invert(1);
	max-width: 32px;
}

@media (max-width: 991px){
	.trailer video{
		max-width: 90%;
}
}
@media (max-width: 991px){
	.trailer2 video{
		max-width: 90%;
}
}